
.imagem-limitada {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Ajuste este valor conforme necessário */
  display: block;
  margin: 0 auto;
}

.peoples-container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px; /* Espaçamento entre os cards */
  padding: 16px;
}


@media (min-width: 1200px) {
  .peoples-container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}
